@font-face {
    font-family: 'Arame';
    src: url('fonts/Arame.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Arame Thin';
    src: url('fonts/Arame-Thin.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nebula';
    src: url('fonts/Nebula.ttf') format('truetype');
  }

  html {
    max-width: 400px;
    margin: 0px;
    padding: 10px;
  }

  body {
    background-color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .h1 {
    font-family: 'Nebula';
    color: red;
    font-size: 26px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
  }

  p {
    margin: 0px;
    margin-bottom: 10px;
    font-family: "Arame Thin";
    color: #ffb100;
  }

  button {
    font-family: "Arame";
    color: #ffb100;
    border-radius: 0%;
    border-width: 1px;
    border-style: solid;
    border-color: #ffb100;
    background-color: black;
  }

  a {
    font-family: "Arame";
    color: red;
    margin-bottom: 50px;
  }